@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    box-sizing: border-box;
    margin: 0;
    top: 0;
}

.main_div {
    position: absolute;
    top:300%;
    left: 50%;
    transform: translate(-50%, -50%);

}